/***** Fonts - CentraNo1 *****/
@font-face {
    font-family: 'GT-Walsheim-Pro-Regular';
    src        : url('../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Regular.ttf');
    src        : url('../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Regular#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Regular.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Regular.ttf') format('truetype'),
        /*url('../fonts/CentraNo1/CentraNo1-Book.svg#MarsBold') format('svg');*/
}
@font-face {
    font-family: 'GT-Walsheim-Pro-Light';
    src        : url('../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Light.ttf');
    src        : url('../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Light#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Light.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Light.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Light.ttf') format('truetype'),
        /*url('../fonts/CentraNo1/CentraNo1-Book.svg#MarsBold') format('svg');*/
}
@font-face {
    font-family: 'GT-Walsheim-Pro-Medium';
    src        : url('../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Medium.ttf');
    src        : url('../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Medium#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Medium.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Medium.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Medium.ttf') format('truetype'),
        /*url('../fonts/CentraNo1/CentraNo1-Book.svg#MarsBold') format('svg');*/
}
@font-face {
    font-family: 'GT-Walsheim-Pro-Bold';
    src        : url('../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Bold.ttf');
    src        : url('../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Bold#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Bold.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Bold.ttf') format('truetype'),
        /*url('../fonts/CentraNo1/CentraNo1-Book.svg#MarsBold') format('svg');*/
}
@font-face {
    font-family: 'Museo_Slab_300';
    src        : url('../fonts/Museo_Slab_Desktop/Museo_Slab_300.ttf');
    src        : url('../fonts/Museo_Slab_Desktop/Museo_Slab_300#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/Museo_Slab_Desktop/Museo_Slab_300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Museo_Slab_Desktop/Museo_Slab_300.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/Museo_Slab_Desktop/Museo_Slab_300.ttf') format('truetype'),
        /*url('../fonts/CentraNo1/CentraNo1-Book.svg#MarsBold') format('svg');*/
}
@font-face {
    font-family: 'Museo_Slab_500';
    src        : url('../fonts/Museo_Slab_Desktop/Museo_Slab_500.ttf');
    src        : url('../fonts/Museo_Slab_Desktop/Museo_Slab_500#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/Museo_Slab_Desktop/Museo_Slab_500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Museo_Slab_Desktop/Museo_Slab_500.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/Museo_Slab_Desktop/Museo_Slab_500.ttf') format('truetype'),
        /*url('../fonts/CentraNo1/CentraNo1-Book.svg#MarsBold') format('svg');*/
}


